*[class^="fadefx-fadein-"] {
-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
*[class^="fadefx-fadein"] {
  opacity: 0;
}
.fadefx-fadein-down {
	vertical-align: bottom;
}
.fadefx-fadein-left {
	padding-right: 50px;
}
.fadefx-fadein-right {
	padding-left: 50px;
}
